{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs",
      "debug": true
    }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}
